@import "@/components/Variables";

.section {
    // Fill the top part of the screen
    flex-grow: 1;
    padding-top: $games-margin-top;
    background-color: $home-player-section-background-color;
}