@import "@/components/Common";

.player {
    iframe {
        border: none;
        max-width: 100%;

        @include media-breakpoint-down(md) {
            width: 100% !important;
        }
    }
}