.App-header {
    // In home we want the top to be 100% of screen height
    min-height: 100vh;
    // Required to make the player section fill the space
    display: flex;
    flex-direction: column;
}