.mai-player-section {}

.mai-home-player {
    box-shadow: 5px 5px 0px var(--player-shadow-color);
}

.mai-home-player>div {
    background-color: var(--player-background-color);
    padding: 10px;
}

.mai-home-player .mai-player {
    display: block;
    background-color: black;
    border-radius: 8px;
}

.mai-player canvas {
}

.mai-editor {
    margin-left: 2em;
    background-color: var(--editor-background-color);
    box-shadow: 5px 5px 0px var(--editor-shadow-color);
    padding: 10px;
    overflow: hidden;
}

.moroboxai-language {
    color: #00BDD4!important;
}